.sectionHeaderTextWrapper {
	display: flex;
	align-items: flex-end;
	gap: 12px;
	margin-bottom: 20px;
}

.topText {
	font-size: 72px;
	font-weight: 800;
	line-height: 0.9;
	-webkit-text-stroke: 2px var(--mantine-color-red-6);
	color: transparent;
}

.contentText {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 20px;
}
