.header {
	display: flex;
	position: relative;
	width: 100%;
	padding-bottom: 16px;
}

.tabsContainer {
	position: relative;
	max-width: 100%;
	width: 100%;
}

.tabsList {
	display: flex;
	padding-bottom: 8px;
	padding-left: 60px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		height: 4px;
	}

	&::-webkit-scrollbar-track {
		background: light-dark(
			var(--mantine-color-gray-1),
			var(--mantine-color-dark-6)
		);
		border-radius: 4px;
	}

	&::-webkit-scrollbar-thumb {
		background: light-dark(
			var(--mantine-color-gray-5),
			var(--mantine-color-dark-3)
		);
		border-radius: 4px;
	}

	@mixin dark {
		border-bottom-color: var(--mantine-color-dark-5);
	}
}

.tab {
	position: relative;
	padding: 2px 12px;
	cursor: pointer;
	font-weight: 600;
	font-size: 1rem;
	color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-gray-4));
	z-index: 1;
	transition: color 150ms ease;
	flex: 0 0 auto;
}

.tab:hover {
	color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.tabActive {
	color: light-dark(
		var(--mantine-color-black),
		var(--mantine-color-white)
	) !important;
}

.underline {
	position: absolute;
	bottom: -9px;
	left: 0;
	right: 0;
	height: 2px;
	background-color: light-dark(
		var(--mantine-color-red-6),
		var(--mantine-color-red-9)
	);
	z-index: 2;
}

.underline::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 10px;
	background: radial-gradient(
		ellipse at bottom,
		var(--mantine-color-red-5) 0%,
		transparent 80%
	);
	opacity: 0.5;
	filter: blur(10px);
	transform: translateY(-50%);
	z-index: -1;

	@mixin dark {
		background: radial-gradient(
			ellipse at bottom,
			var(--mantine-color-red-4) 0%,
			transparent 80%
		);
		opacity: 0.7;
	}
}

.titleContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 60px;
	padding-right: 60px;
}

.countrySelector {
	width: 200px;
	margin-right: 0;
}

@media (max-width: 768px) {
	.header {
		flex-direction: column;
		align-items: stretch;
		gap: 1.5rem;
	}

	.tabsContainer {
		width: 100%;
	}

	.tabsList {
		padding-left: 16px;
	}

	.titleContainer {
		padding-left: 16px;
		padding-right: 16px;
	}

	.countrySelector {
		width: auto;
		margin-right: 0;
	}
}

@media (max-width: 500px) {
	.titleContainer {
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
	}

	.countrySelector {
		width: 100%;
		margin-right: 0;
	}
}
