.imageWrapper {
    position: relative;
    width: 100%;
    max-height: 220px;

    @media (min-width: 900px) {
        .imageWrapper {
            max-width: 380px;
        }
    }
}

.imageOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
    pointer-events: none;
}

.overlayContent {
    position: absolute;
    bottom: 12px;
    left: 12px;
    right: 12px;
}

.airDate {
    background: rgb(119, 34, 187);
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-flex;
    width: fit-content;
}
