.commentSectionContainer {
	border-radius: var(--mantine-radius-md);
}

.title {
	color: var(--mantine-color-gray-6);
	font-weight: 600;
}

.replyingToBanner {
	background-color: light-dark(
		var(--mantine-color-gray-3),
		var(--mantine-color-gray-9)
	);
	padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
	margin-bottom: var(--mantine-spacing-xs);
}
