.commentItemContainer {
	/* Styles for the entire comment item block */
}

.viewRepliesButton {
	color: var(--mantine-color-gray-6);
	padding-left: 0; /* Adjust alignment */
	padding-right: 0;

	&:hover {
		background-color: transparent;
		text-decoration: underline;
	}
}

.repliesContainer {
	/* Styles for the container holding all replies */
	border-left: 1px solid var(--mantine-color-gray-3);
	padding-left: var(--mantine-spacing-xs);
}

.replyInputContainer {
	/* Styles for the container holding the reply input field */
}
