.carouselControls {
    margin: 0 40px;
}

.carouselControl {
    border: none;
    width: 35px;
    height: 76px;
    border-radius: 0;
    background: transparent;
    color: white;
    box-shadow: none;
    opacity: 100;
}

.carouselControl svg {
    width: 35px !important;
    height: 35px !important;
}
