.linkedTitle {
    color: light-dark(#5f3dc4, #d0bfff);
    text-decoration: none;
}

.linkedTitle:hover {
    text-decoration: underline;
}

.card {
    background-color: light-dark(#eeeeeede, #222222);
}

.imageColumn {
    min-width: 120px;
    transition: min-width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.imageColumn[data-expanded="true"] {
    min-width: 170px;
}
