.slideContainer {
    position: relative;
    height: 540px;
    width: 100%;
}

.slideContainer > div:first-child {
    position: relative;
}

.slideContainer > div:last-child {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
}

.slideContainer > div:first-child::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
    pointer-events: none;
}
