.slideContainer {
    position: relative;
    height: 540px;
    width: 100%;
    margin-bottom: -100px;
}

.slideContainer > div:first-child {
    position: relative;
}

.slideContainer > div:last-child {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    z-index: 1;
}

.slideContainer > div:first-child::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70%;
    background: linear-gradient(
        to bottom,
        transparent,
        rgba(0, 0, 0, 0.8) 70%,
        var(--mantine-color-body) 100%
    );
    pointer-events: none;
}
