[class*="mantine-Popover-dropdown"],
[class*="mantine-Select-dropdown"],
[class*="mantine-Menu-dropdown"] {
    background-color: light-dark(#ededed, #121212) !important;
    border-color: light-dark(#2e2e2e, #2e2e2e) !important;
}

[class*="mantine-TextInput-input"],
[class*="mantine-InputBase-input"],
[class*="mantine-Combobox-input"],
[class*="mantine-Textarea-input"],
[class*="mantine-PasswordInput-input"],
[class*="mantine-PillsInput-input"] {
    background-color: transparent !important;
    border-color: light-dark(#121212, #2e2e2e) !important;
}
