[class*="mantine-Popover-dropdown"] {
    background-color: light-dark(#ededed, #121212) !important;
    border-color: light-dark(#121212, #ededed) !important;
}

[class*="mantine-TextInput-input"] {
    background-color: transparent !important;
    border-color: light-dark(#121212, #2e2e2e) !important;
}
[class*="mantine-PasswordInput-input"] {
    background-color: transparent !important;
    border-color: light-dark(#121212, #2e2e2e) !important;
}
[class*="mantine-PillsInput-input"] {
    background-color: transparent !important;
    border-color: light-dark(#121212, #2e2e2e) !important;
}
[class*="mantine-Select-dropdown"] {
    background-color: light-dark(#ededed, #121212) !important;
    border-color: light-dark(#2e2e2e, #2e2e2e) !important;
}
[class*="mantine-Menu-dropdown"] {
    background-color: light-dark(#ededed, #121212) !important;
    border-color: light-dark(#2e2e2e, #2e2e2e) !important;
}
