.pageWrapper {
    min-height: 100dvh;
    display: flex;
}

.container {
    flex: 1;
}

.contentWrapper {
    min-height: 100dvh;
    height: 100dvh;
}

.formSection {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.formWrapper {
    width: 100%;
    max-width: 400px;
}

.imageSection {
    width: 50%;
    position: relative;
    height: 100dvh;
    overflow: hidden;
}

.backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.inputGroup {
    width: 100%;
}

@media (max-width: 768px) {
    .formSection {
        width: 100%;
    }

    .imageSection {
        display: none;
    }
}
